<div class="content">
    <h2 class="title">{{ entity.title }}</h2>
    <div class="text">
        {{ entity.content|raw }}
    </div>
</div>
<div class="slogan">
    <div>{{ entity.title2 }}</div>
</div>
<img class="image" src="{{ entity.getThumbWebPath('detail') }}" alt="{{ entity.title2 }}">
<img class="image mobile" src="{{ entity.getThumbWebPath('mobile') }}" alt="{{ entity.title2 }}">