<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600&amp;subset=latin-ext" rel="stylesheet">
        <link href="{{ asset('bundles/lscore/front/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/front/css/editor.css') }}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}"/>
</head>
<body>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}

<div class="menu-mobile">
    <div class="hide-menu"></div>
    <div class="content">
        <div class="menu-container">
             {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
        </div>
    </div>
</div>

<header>
    <div id="scrolled">
        <div class="container">
            <div class="scrolled-logo">
                <img src="{{ asset('bundles/lscore/front/images/scrolled-logo.png') }}" alt="{{ cms_config.get('seo_title', '') }}">
            </div>
            <a class="logo" href="{{ path('ls_core_homepage') }}">
                <img src="{{ asset('bundles/lscore/front/images/logo.png') }}" alt="{{ cms_config.get('seo_title', '') }}">
                <img class="tablet" src="{{ asset('bundles/lscore/front/images/logo-tablet.png') }}" alt="{{ cms_config.get('seo_title', '') }}">
                <img class="mobile" src="{{ asset('bundles/lscore/front/images/logo-mobile.png') }}" alt="{{ cms_config.get('seo_title', '') }}">
            </a>
            <h1 class="top-title">{{ cms_config.get('label_top_title', '')|nl2br|raw }}</h1>
            <nav class="navbar navbar-default" role="navigation">
                {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
            </nav>
            <div class="mobile-menu-btn"></div>
        </div>
    </div>    
</header>

{% block content %}{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/lscore/common/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
