@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

$desktop-min: 1161px;
$tablet-max: 1160px;
$tablet-min: 721px;
$mobile-max: 720px;

@mixin breakpoint($breakpoints...) {

	@each $breakpoint in $breakpoints {
		@if $breakpoint == mobile {
			@media screen and (max-width: $mobile-max) {
				@content;
			}
		} @else if $breakpoint == tablet {
			@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
				@content;
			}
		} @else if $breakpoint == desktop {
			@media screen and (min-width: $desktop-min) {
				@content;
			}
		}
	}
}