<div class="bxslider">
    {% for photo in slider.photos %}
        <div class="slide">
            <img class="full" src="{{ photo.getThumbWebPath('full') }}" alt="{{ photo.title }}">
            <img class="tablet" src="{{ photo.getThumbWebPath('tablet') }}" alt="{{ photo.title }}">
            <img class="mobile" src="{{ photo.getThumbWebPath('mobile') }}" alt="{{ photo.title }}">
            <div class="content">
                <div class="title">{{ photo.title }}</div>
                {% if photo.link is not empty %}
                    <a href="{{ photo.link }}" class="link">Zobacz więcej</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>