{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/lscore/front/css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('bundles/lscore/front/css/qtip.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block content %}
    <div id="slider">
        <div class="container">
            {{ render(controller('LsSliderBundle:Front:section', {'sliderLabel': 'Slider'})) }} {# slider, param: slider name #}
        </div>
    </div>
        
    <div id="oferta">
        <div class="container">
            {{ render(controller('LsOfferBundle:Front:section')) }} {# oferta #}
        </div>
    </div>
        
    <div id="sections">
        <div class="container">
            <div id="kim-jestesmy" class="type1">
                {{ render(controller('LsSectionBundle:Front:section', {'id': 1, 'type': 1})) }} {# kim jesteśmy #}
            </div>
            <div id="dlaczego-warto-nas-wybrać" class="type2">
                {{ render(controller('LsSectionBundle:Front:section', {'id': 2, 'type': 2})) }} {# Dlaczego warto nas wybrać? #}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div id="kontakt" class="left-block">
                <div class="title">Skontaktuj się z nami</div>
                <div class="contact">
                    <div class="adress">{{ cms_config.get('label_adress', '')|nl2br|raw }}</div>
                    <div class="phone">{{ cms_config.get('label_phone', '')|nl2br|raw }}</div>
                    <div class="email">{{ cms_config.get('label_email', '')|nl2br|raw }}</div>
                </div>
                <div class="copyright">
                    <div class="copy">{{ cms_config.get('label_copyrights', '') }}</div>
                    <div class="project">
                        <span>Projekt i realizacja: </span>
                        <a title="Lemonade Studio" href="http://lemonadestudio.pl/" target="_blank">
                            <img src="{{ asset('bundles/lscore/front/images/lemo.png') }}" alt="Lemonade Studio">
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-block">
                {{ render(controller('LsContactBundle:Front:index')) }} {# contact form #}
            </div>
            <div class="copyright mobile">
                <div class="copy">{{ cms_config.get('label_copyrights', '') }}</div>
                <div class="project">
                    <span>Projekt i realizacja: </span>
                    <a title="Lemonade Studio" href="http://lemonadestudio.pl/" target="_blank">
                        <img src="{{ asset('bundles/lscore/front/images/lemo.png') }}" alt="Lemonade Studio">
                    </a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="{{ asset('bundles/lscore/front/js/jquery.bxslider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/qtip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/main.min.js') }}" type="text/javascript"></script>
    
    <script>
        $( "#form_contact" ).submit(function( event ) {
            event.preventDefault();
            sendContact($(this).attr('action'), $(this).serialize())
        });
    </script>

{% endblock %}