.editor p,p{font-family:'Oswald', sans-serif;font-weight:400;color:#262626;padding:0;margin:0;font-size:14px}@media screen and (max-width: 720px){.editor p,p{font-size:13px;line-height:1.65em}}
/*# sourceMappingURL=editor.css.map */
