@import "sass/variables";
@import "sass/mixins";

.editor p,
p {
    font-family: 'Oswald', sans-serif;
    font-weight: $regular;
    color: $blackTextColor;
    padding: 0;
    margin: 0;
    font-size: 14px;
    
    @include breakpoint(mobile) {
        font-size: 13px;
        line-height: 1.65em;
    }
}
