@import "sass/variables";
@import "sass/mixins";

body {
    font-family: 'Oswald', sans-serif;
    font-weight: $regular;
    color: $blackTextColor;
    font-size: 13px;
    float: left;
    width: 100%;
    height: 100%;
    background: $backgroundColor;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    @include clearfix();
    
    @include breakpoint(tablet) {
        width: 700px;
    }
    
    @include breakpoint(mobile) {
        width: 300px;
    }
}

header {
    width: 100%;
    z-index: 99;
    padding-bottom: 69px;
    position: relative;
    @include clearfix();
    
    @include breakpoint(tablet) {
        height: 80px;
    }
    
    @include breakpoint(mobile) {
        height: 52px;
        padding-bottom: 15px;
    }
    
    #scrolled {
        width: 100%;
        position: relative;
        @include clearfix();
        transition: all 0.3s;
        
        * {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        
        .scrolled-logo {
            position: absolute;
            top: 15px;
            left: 0px;
            opacity: 0;
            
            @include breakpoint(mobile) {
                left: 15px;
            }
        }
        
        &.fixed {
            @include breakpoint(tablet, mobile) {
                background: $backgroundColor;
                height: 50px;
                position: fixed;
                top: -1px;
                z-index: 99;
                -webkit-box-shadow: 0px 10px 25px -11px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 10px 25px -11px rgba(0,0,0,0.5);
                box-shadow: 0px 10px 25px -11px rgba(0,0,0,0.5);
            
                .top-title,
                .logo {
                    display: none;
                }
            }
            
            @include breakpoint(mobile) {
                height: 44px;
            }
            
            .mobile-menu-btn {
                @include breakpoint(tablet) {
                    margin-top: 13px;
                }
                @include breakpoint(mobile) {
                    margin-top: 12px;
                }
            }
            
            .scrolled-logo {
                @include breakpoint(tablet) {
                    opacity: 1;
                    top: 15px;
                    left: 15px;
                }
                @include breakpoint(mobile) {
                    opacity: 1;
                    top: 14px;
                    left: 0px;
                }
            }
        }
    }
    
    .logo {
        float: left;
        margin-left: 40px;
        margin-top: 18px;
        
        .tablet,
        .mobile {
            display: none;
        }
        
        @include breakpoint(tablet) {
            margin-left: 15px;
            margin-top: 16px;
            
            img {
                display: none;
                
                &.tablet {
                    display: block;
                }
            }
        }
        
        @include breakpoint(mobile) {
            margin-left: 0px;
            margin-top: 10px;
            
            img {
                display: none;
                
                &.mobile {
                    display: block;
                }
            }
        }
    }
    
    .top-title {
        font-size: 15px;
        position: relative;
        float: left;
        color: $whiteTextColor;
        font-weight: $regular;
        padding-left: 33px;
        margin-top: 57px;
        margin-left: 35px;
        line-height: 1.1em;
        
        @include breakpoint(tablet) {
            margin-top: 46px;
            margin-left: 34px;
        }
        
        @include breakpoint(mobile) {
            display: none;
        }
        
        &:before {
            content: "";
            position: absolute;
            top: -8px;
            left: 0;
            width: 3px;
            height: 140%;
            background: #3b3b3b;
        }
    }
    
    .mobile-menu-btn {
        float: right;
        width: 28px;
        height: 22px;
        background: url('../images/mobile-menu.png') no-repeat;
        margin-right: 15px;
        margin-top: 47px;
        cursor: pointer;
        cursor: hand;
        display: none;
        
        @include breakpoint(tablet, mobile) {
            display: block;
        }
        
        @include breakpoint(mobile) {
            margin-right: 0px;
            margin-top: 24px;
        }
    }
    
    .navbar-default {
        float: right;
        margin-right: 29px;
        margin-top: 53px;
        
        @include breakpoint(tablet, mobile) {
            display: none;
        }
        
        .navbar-nav {
            float: right;
            list-style: none;
            
            li {
                float: left;
                
                a {
                    font-weight: $medium;
                    text-transform: uppercase;
                    float: left;
                    font-size: 13px;
                    text-decoration: none;
                    color: $whiteTextColor;
                    padding: 14px 12px 45px 13px;
                    transition: all 0.3s;
                }
                
                &.active,
                &:hover {
                    a {
                        background: #64b7e2;
                    }
                }
            }
        }
    }
}

#slider {
    z-index: 0;
    position: relative;
    overflow: hidden;
    height: 715px;
    padding-top: 80px;
    margin-top: -80px;
    float: left;
    width: 100%;
    
    @include breakpoint(tablet) {
        padding-top: 105px;
        margin-top: -51px;
    }
    
    @include breakpoint(mobile) {
        padding-top: 0px;
        margin-top: 0px;
        height: auto;
    }
    
    .container {
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 50%;
            background: url('../images/slider-bg-left.png') no-repeat;
            width: 960px;
            height: 630px;
            z-index: -10;
            
            @include breakpoint(mobile) {
                display: none;
            }
        }
        
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            background: url('../images/slider-bg-right.png') no-repeat;
            width: 960px;
            height: 709px;
            z-index: -10;
            
            @include breakpoint(mobile) {
                display: none;
            }
        }
    }
    
    .full {
        display: block;
        
        @include breakpoint(tablet, mobile) {
            display: none;
        }
    }
    
    .tablet {
        display: none;
        
        @include breakpoint(tablet) {
            display: block;
        }
    }
    
    .mobile {
        display: none;
        
        @include breakpoint(mobile) {
            display: block;
        }
    }
    
    .bx-wrapper {
        visibility: hidden;
        width: 100%;
        height: 672px;
        margin: 0;
        margin-top: -80px;
        float: left;
        overflow: hidden;
        
        @include breakpoint(tablet) {
            margin-top: -103px;
            height: 762px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 0px;
            height: auto;
            width: calc(100% + 80px);
            max-width: calc(100% + 80px) !important;
            margin-left: -40px;
        }
        
        .bx-viewport {
            margin: 0;
            
            @include breakpoint(desktop) {
                height: 672px !important;
            }
            
            @include breakpoint(tablet) {
                height: 762px !important;
            }
        }
    }
    
    .bx-controls,
    .bx-controls-direction {
        visibility: visible;
        
        @include breakpoint(mobile) {
            display: none;
        }
    }
    
    .bx-next {
        position: absolute;
        width: 40px;
        height: 88px;
        margin: auto;
        top: -108px;
        bottom: 0;
        right: 0;
        background: url('../images/slider-control.jpg') no-repeat;
        z-index: 60;
        cursor: pointer;
        
        @include breakpoint(tablet) {
            top: -195px;
        }
        
        &:hover {
            background: url('../images/slider-control-hover.jpg') no-repeat;
            transform: rotate(180deg);
        }
    }
    
    .bx-prev {
        position: absolute;
        width: 40px;
        height: 88px;
        margin: auto;
        top: -108px;
        bottom: 0;
        left: 0;
        background: url('../images/slider-control.jpg') no-repeat;
        transform: rotate(180deg);
        z-index: 60;
        cursor: pointer;
        
        @include breakpoint(tablet) {
            top: -195px;
        }
        
        &:hover {
            background: url('../images/slider-control-hover.jpg') no-repeat;
            transform: rotate(0deg);
        }
    }
    
    .bx-wrapper .bx-pager, 
    .bx-wrapper .bx-controls-auto {
        position: absolute;
        width: 25%;
        text-align: right;
        bottom: 70px;
        right: 35px;
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #474747;
        width: 9px;
        height: 9px;
        margin: 0 5px;
        margin-left: 17px;
        border-radius: 0;
        position: relative;
        transition: all 0.3s;
        font-size: 0.1em;
        color: #474747;
        
        &:before {
            content: "";
            position: absolute;
            background: white;
            width: calc(100% + 6px);
            height: calc(100% + 6px);
            top: -3px;
            left: -3px;
            z-index: -1;
            transition: all 0.3s;
            opacity: 0;
        }
        
        &:after {
            content: "";
            position: absolute;
            width: calc(100% + 12px);
            height: calc(100% + 12px);
            top: -6px;
            left: -6px;
            z-index: -2;
            background: #2b92c7;
            background: -moz-linear-gradient(70deg, #2b92c7 0%, #81c0e1 100%);
            background: -webkit-linear-gradient(70deg, #2b92c7 0%,#81c0e1 100%);
            background: linear-gradient(70deg, #2b92c7 0%,#81c0e1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b92c7', endColorstr='#81c0e1',GradientType=1 );
            transition: all 0.3s;
            opacity: 0;
        }
    }
    
    .bx-wrapper .bx-pager.bx-default-pager a:hover, 
    .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #474747;
        transition: all 0.3s;
        
        &:before,
        &:after {
            opacity: 1;
        }
        
    }
    
    .bx-wrapper .bx-pager .bx-pager-item, 
    .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
        position: relative;
        z-index: 1;
    }

    
    .content {
        position: absolute;
        background: white;
        bottom: -22px;
        right: 0;
        padding-top: 32px;
        padding-right: 179px;
        padding-left: 41px;
        padding-bottom: 57px;
        
        @include breakpoint(tablet) {
            bottom: -113px;
        }
        
        @include breakpoint(mobile) {
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;
            padding-top: 16px;
            padding-bottom: 21px;
        }
        
        &:after {
            content: "";
            position: absolute;
            bottom: -22px;
            left: -39px;
            width: 571px;
            height: 84px;
            z-index: -1;
            background: url('../images/slider-bg.jpg') no-repeat;
            
            @include breakpoint(tablet) {
                height: 136px;
                background-size: cover;
            }
            
            @include breakpoint(mobile) {
                position: relative;
                top: initial;
                bottom: initial;
                left: 0px;
                float: left;
                width: 100%;
                height: 26px;
                background-size: cover;
                display: block;
                margin-top: 21px;
            }
        }
        
        .title {
            font-size: 45px;
            font-weight: $extraLight;
            display: block;
            width: 350px;
            margin-bottom: 33px;
            line-height: 1.12em;
            
            @include breakpoint(mobile) {
                font-size: 30px;
                width: 230px;
                margin: 0 auto;
                text-align: center;
            }
        }
        
        .link {
            font-size: 15px;
            color: #202020;
            font-weight: $medium;
            text-decoration: none;
            background: white;
            padding-top: 5px;
            padding-bottom: 7px;
            padding-left: 22px;
            padding-right: 22px;
            margin: 3px;
            position: relative;
            z-index: 1;
            transition: all 0.3s;
            display: inline;
            margin-left: 7px;
            
            @include breakpoint(mobile) {
                margin: 0 auto;
                display: table;
                float: none;
                left: 0;
                right: 0;
                margin-top: 20px;
            }
            
            &:before {
                content: "";
                position: absolute;
                top: -3px;
                left: -3px;
                width: calc(100% + 6px);
                height: calc(100% + 6px);
                z-index: -2;
                background: #2b92c7;
                background: -moz-linear-gradient(70deg, #2b92c7 0%, #81c0e1 100%);
                background: -webkit-linear-gradient(70deg, #2b92c7 0%,#81c0e1 100%);
                background: linear-gradient(70deg, #2b92c7 0%,#81c0e1 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b92c7', endColorstr='#81c0e1',GradientType=1 );
                transition: all 0.3s;
            }
            
            &:after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: calc(100%);
                height: calc(100%);
                z-index: -1;
                background: white;
                transition: all 0.3s;
            }
            
            &:hover {
                background: transparent;
                color: white;
                
                &:after {
                    background: transparent;
                }
            }
        }
    }
}

#oferta {
    float: left;
    width: 100%;
    @include clearfix();
    
    @include breakpoint(mobile) {
        padding-top: 35px;
    }
    
    .title {
        font-size: 40px;
        font-weight: $extraLight;
        color: white;
        margin-left: 15px;
        margin-top: -35px; 
        float: left;
        position: relative;
        
        @include breakpoint(tablet) {
            margin-top: 20px;
        }
        
        @include breakpoint(mobile) {
            margin: 0px;
            width: 100%;
            font-size: 30px;
            text-align: center;
        }
        
        &:before {
            content: "";
            position: absolute;
            bottom: -13px;
            left: 0px;
            width: 38px;
            height: 4px;
            background: #62b0d8;
            
            @include breakpoint(mobile) {
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 3px;
                width: 30px;
            }
        }
    }
    
    .offer-list {
        float: left;
        width: 100%;
        background: $backgroundColor;
        margin-top: 62px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 35px;
        position: relative;
        
        @include breakpoint(tablet) {
            padding-bottom: 35px;
        }
        
        @include breakpoint(mobile) {
            margin-top: 39px;
            padding-bottom: 22px;
        }
        
        .item {
            float: left;
            width: 255px;
            margin: 0 15px;
            margin-bottom: 33px;
            
            @include breakpoint(tablet) {
                width: 320px;
                margin-bottom: 37px;
            }
            
            @include breakpoint(mobile) {
                margin: 0px;
                width: 100%;
                margin-bottom: 29px;
                
                img {
                    float: left;
                }
            }
            
            .item-title {
                color: white;
                font-weight: $light;
                font-size: 26px;
                float: left;
                width: 100%;
                line-height: 1.1em;
                margin-top: 11px;
                margin-bottom: 18px;
                
                @include breakpoint(mobile) {
                    font-size: 22px;
                    float: right;
                    width: 77%;
                    margin-top: 21px;
                    margin-bottom: 0px;
                }
            }
            
            .content {
                float: left;
                width: 100%;
                color: white;
                
                @include breakpoint(mobile) {
                    margin-top: 11px;
                }
            }
            
            &.help {
                .content {
                    font-size: 18px;
                    line-height: 1.3em;
                    margin-top: 16px;
                    font-weight: $light;
                }
            }
        }
    }
}

#sections {
    overflow-x: hidden;
    background: url('../images/sections-bg.png') no-repeat;
    background-position-x: center;
    background-position-y: top;
    margin-top: -131px;
    padding-top: 112px;
    padding-bottom: 74px;
    float: left;
    width: 100%;
    @include clearfix();
    
    @include breakpoint(tablet) {
        margin-top: 0px;
        padding-top: 0px;
        background: url('../images/sections-bg-tablet.jpg') no-repeat;
        background-position-x: center;
        background-position-y: 20px;
    }
    
    @include breakpoint(mobile) {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0;
        background: transparent;
    }
    
    .type1 {
        float: left;
        width: calc(100%);
        color: #262626;
        
        .content {
            float: left;
            width: 50%;
            background: white;
            position: relative;
            padding-top: 51px;
            padding-bottom: 165px;
            z-index: 1;
            
            @include breakpoint(tablet) {
                width: 100%;
                padding-bottom: 226px;
            }
            
            @include breakpoint(mobile) {
                width: 100%;
                padding-bottom: 142px;
                padding-top: 21px;
            }
            
            &:before {
                content: "";
                width: 960px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: white;
                z-index: -1;
                
                @include breakpoint(mobile) {
                    right: -330px;
                }
            }
            
            .title {
                font-weight: $extraLight;
                font-size: 40px;
                padding-left: 15px;
                position: relative;
                margin-bottom: 62px;
                
                @include breakpoint(tablet) {
                    padding-left: 0px;
                    margin-bottom: 42px;
                } 
                
                @include breakpoint(mobile) {
                    padding-left: 0px;
                    margin-bottom: 42px;
                    font-size: 30px;
                    float: left;
                    width: 100%;
                    text-align: center;
                }
                
                &:before {
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 15px;
                    background: #d9d9d9;
                    width: 38px;
                    height: 4px;
                    
                    @include breakpoint(tablet) {
                        left: 0px;
                    }
                    
                    @include breakpoint(mobile) {
                        width: 30px;
                        height: 4px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            }
            
            .text {
                padding-left: 15px;
                float: left;
                width: 80%;
                
                @include breakpoint(tablet) {
                    padding-left: 0px;
                    width: 86%;
                }
                
                @include breakpoint(mobile) {
                    padding-left: 0;
                    width: 96%;
                }
            }
            
        }
        
        .slogan {
            float: left;
            background: #26527f url('../images/slogan-bg-type1.png') no-repeat 52% 56%;
            margin-top: 125px;
            padding: 92px 52px;
            padding-bottom: 123px;
            
            @include breakpoint(tablet) {
                position: relative;
                margin-top: -152px;
                margin-left: 65px;
                z-index: 1;
            }
            
            @include breakpoint(mobile) {
                position: relative;
                z-index: 1;
                font-size: 16.89px;
                background: #26527f url('../images/slogan-bg-type1-mobile.png') no-repeat 52% 56%;
                margin-top: -100px;
                padding: 50px 32.5px;
                padding-bottom: 62px;
            }

            div {
                color: white;
                font-size: 32px;
                float: left;
                font-weight: $light;
                width: 180px;
                text-align: center;
                line-height: 1.1em;
                
                @include breakpoint(mobile) {
                    font-size: 16.82px;
                    width: 85px;
                }
            }
        }
        
        .image {
            float: left;
            margin-top: 80px;
            
            @include breakpoint(tablet) {
                margin-top: -197px;
                position: relative;
                z-index: 1;
            }
            
            @include breakpoint(mobile) {
                display: none;
                margin-top: -125px;
                position: relative;
                z-index: 1;
            }
            
            &.mobile {
                display: none;
                
                @include breakpoint(mobile) {
                    display: block;
                }
            }
        }
    }
    
    .type2 {
        float: left;
        width: calc(100%);
        color: white;
        
        @include breakpoint(tablet) {
            margin-top: 97px;
        }
        
        .content {
            float: right;
            width: 47.4%;
            position: relative;
            z-index: 1;
            margin-top: -30px;
            
            @include breakpoint(tablet, mobile) {
                display: none;
            }
            
            &.mobile {
                display: none;
                width: 100%;
                margin-top: 0px;
                
                @include breakpoint(tablet, mobile) {
                    display: block;
                }
                
                @include breakpoint(mobile) {
                    margin-top: 33px;
                }
            }
            
            .title {
                font-weight: $extraLight;
                font-size: 40px;
                padding-left: 15px;
                position: relative;
                margin-bottom: 62px;
                
                @include breakpoint(tablet) {
                    margin-bottom: 43px;
                }
                
                @include breakpoint(mobile) {
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 100%;
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 33px;
                }
                
                &:before {
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 15px;
                    background: #62b0d8;
                    width: 38px;
                    height: 4px;
                    
                    @include breakpoint(mobile) {
                        width: 30px;
                        height: 3px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
            
            .text {
                padding-left: 15px;
                float: left;
                width: 88%;
                
                @include breakpoint(tablet) {
                    width: 68%;
                }
                
                @include breakpoint(mobile) {
                    width: 100%;
                    padding: 0;
                }
                
                p {
                    color: white;
                }
            }
            
        }
        
        .slogan {
            float: left;
            background: #26527f url('../images/slogan-bg-type2.png') no-repeat 52% 56%;
            margin-top: -28px;
            padding: 92px 42px;
            padding-right: 43px;
            padding-bottom: 123px;
            position: relative;
            z-index: 2;
            
            @include breakpoint(tablet) {
                margin-top: 60px;
                margin-left: 64px;
            }
            
            @include breakpoint(mobile) {
                position: relative;
                z-index: 1;
                font-size: 16.89px;
                background: #26527f url('../images/slogan-bg-type2-mobile.png') no-repeat 51% 58%;
                margin-top: 50px;
                padding: 51px 22.5px;
                padding-bottom: 64px;
            }

            div {
                color: white;
                font-size: 32px;
                float: left;
                font-weight: $light;
                width: 200px;
                text-align: center;
                line-height: 1.1em;
                
                @include breakpoint(mobile) {
                    font-size: 16.89px;
                    width: 105px;
                }
            }
        }
        
        .image {
            margin-top: -75px;
            position: relative;
            z-index: 2;
            
            @include breakpoint(tablet) {
                margin-top: 12px;
            }
            
            @include breakpoint(mobile) {
                display: none;
                margin-top: 26px;
                float: left;
                position: relative;
                z-index: 1;
            }
            
            &.mobile {
                display: none;
                
                @include breakpoint(mobile) {
                    display: block;
                }
            }
        }
    }
}

footer {
    background: white;
    float: left;
    width: 100%;
    padding-top: 50px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        padding-top: 78px;
        margin-top: -121px;
    }
    
    @include breakpoint(mobile) {
        margin-top: -25px;
    }
    
    .left-block {
        float: left;
        width: 50%;
        
        @include breakpoint(tablet, mobile) {
            width: 100%;
        }
        
        .title {
            font-weight: $extraLight;
            font-size: 40px;
            padding-left: 15px;
            position: relative;
            margin-bottom: 57px;
            
            @include breakpoint(tablet) {
                margin-bottom: 46px;
            }
            
            @include breakpoint(mobile) {
                float: left;
                padding: 0;
                width: 100%;
                font-size: 30px;
                text-align: center;
                margin-bottom: 44px;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 15px;
                background: #d9d9d9;
                width: 38px;
                height: 4px;
                
                @include breakpoint(mobile) {
                    width: 30px;
                    height: 3px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
        
        .contact {
            float: left;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
            .adress {
                font-size: 15px;
                float: left;
                width: 194px;
                margin: 0 15px;
                min-height: 48px;
                padding-left: 61px;
                line-height: 1.7em;
                padding-top: 3px;
                background: url('../images/icon-marker.png') center left no-repeat;
                
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                
                @include breakpoint(tablet) {
                    width: 259px;
                }
                
                @include breakpoint(mobile) {
                    background: url('../images/icon-marker-mobile.png') center left no-repeat;
                    margin-left: 0;
                    padding-left: 46px;
                    font-size: 13px;
                    width: 104px
                }
            }

            .phone {
                font-size: 15px;
                float: right;
                width: 199px;
                margin: 0 15px;
                font-weight: 600;
                min-height: 46px;
                padding-left: 55px;
                background: url(../images/icon-phone.png) center left no-repeat;
                
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                
                @include breakpoint(tablet) {
                    width: 250px;
                    padding-left: 53px;
                }
                
                @include breakpoint(mobile) {
                    background: url('../images/icon-phone-mobile.png') center left no-repeat;
                    width: 100px;
                    margin-right: 0;
                    margin-left: 0;
                    margin-top: 5px;
                    padding-left: 35px;
                    font-size: 13px;
                }
            }

            .email {
                font-size: 15px;
                float: left;
                width: 194px;
                margin: 0 15px;
                margin-top: 45px;
                margin-left: 11px;
                min-height: 32px;
                padding-left: 64px;
                background: url(../images/icon-mail.png) center left no-repeat;
                
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                
                @include breakpoint(tablet) {
                    width: 250px;
                    margin-top: 25px;
                }
                
                @include breakpoint(mobile) {
                    background: url('../images/icon-mail-mobile.png') center left no-repeat;
                    margin: 0;
                    margin-top: 14px;
                    margin-left: 0px;
                    padding-left: 46px;
                    font-size: 13px;
                    width: 220px;
                }
            }
        }
    }
    
    .copyright {
        float: left;
        margin: 0 15px;
        margin-top: 102px;
        margin-bottom: 52px;
        
        @include breakpoint(tablet, mobile) {
            display: none;
        }
        
        &.mobile {
            display: none;
            width: calc(100% - 30px);
            margin-top: 18px;
            margin-bottom: 114px;
            
            @include breakpoint(tablet, mobile) {
                display: block;
            }
            
            @include breakpoint(mobile) {
                margin-top: 10px;
                font-size: 12px;
                text-align: center;
                margin-bottom: 15px;
            }
        }

        .project {
            @include breakpoint(mobile) {
                float: left;
                margin-left: 53px;
                margin-top: 3px;
            }
            
            span {
                float: left;
                margin-top: 3px;
            }

            a {
                float: left;
                margin-top: 4px;
                margin-left: 6px;
            }
        }

    }
    
    .right-block {
        float: right;
        width: 50%;
        
        @include breakpoint(tablet, mobile) {
            width: 100%;
        }
        
        .form-horizontal {
            float: right;
            width: 350px;
            margin-right: 43px;
            margin-top: 97px;
            
            @include breakpoint(tablet) {
                width: calc(100% - 30px);
                margin: 0 15px;
                margin-top: 52px;
            }
            
            @include breakpoint(mobile) {
                width: 300px;
                margin-right: 0px;
                margin-top: 40px;
            }
        }
        
        .form-group {
            float: left;
            width: 100%;
            margin-bottom: 27px;
            
            .form-control {
                float: left;
                width: 100%;
                color: #2b92c7;
                font-size: 14px;
                outline: none;
                border: none;
                border-bottom: 2px solid #898989;
                resize: none;
                font-family: 'Oswald', sans-serif;
                font-weight: $regular;
                padding-bottom: 10px;
                transition: all 0.3s;
            
                &::-webkit-input-placeholder {
                    color: $blackTextColor;
                    transition: all 0.3s;
                }
                &:-moz-placeholder {
                    /* FF 4-18 */
                    color: $blackTextColor;
                    transition: all 0.3s;
                }
                &::-moz-placeholder {
                    /* FF 19+ */
                    color: $blackTextColor;
                    transition: all 0.3s;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: $blackTextColor;
                    transition: all 0.3s;
                }
                
                &:hover,
                &:focus {
                    color: #2b92c7;
                    border-bottom: 2px solid #2b92c7;
                    transition: all 0.3s;
                    
                    &::-webkit-input-placeholder {
                    color: #2b92c7;
                    }
                    &:-moz-placeholder {
                        /* FF 4-18 */
                        color: #2b92c7;
                    }
                    &::-moz-placeholder {
                        /* FF 19+ */
                        color: #2b92c7;
                    }
                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        color: #2b92c7;
                    }
                }
            }
            
            textarea {
                height: 90px;
                
                @include breakpoint(tablet, mobile) {
                    height: 80px;
                }
            }
            
            &.submit {
                margin-left: -3px;
                margin-top: 7px;
                
                @include breakpoint(tablet) {
                    margin-top: 2px;
                }
            }
            
            .btn-default {
                font-size: 15px;
                color: #202020;
                font-family: 'Oswald', sans-serif;
                font-weight: $medium;
                text-decoration: none;
                background: white;
                padding: 6px 44px;
                margin: 3px;
                position: relative;
                z-index: 1;
                transition: all 0.3s;
                display: inline;
                margin-left: 7px;
                border: none;
                
                @include breakpoint(mobile) {
                    margin: 0px auto;
                    display: block;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    width: calc(100% + 6px);
                    height: calc(100% + 6px);
                    z-index: -2;
                    background: #2b92c7;
                    background: -moz-linear-gradient(70deg, #2b92c7 0%, #81c0e1 100%);
                    background: -webkit-linear-gradient(70deg, #2b92c7 0%,#81c0e1 100%);
                    background: linear-gradient(70deg, #2b92c7 0%,#81c0e1 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b92c7', endColorstr='#81c0e1',GradientType=1 );
                    transition: all 0.3s;
                }
                
                &:after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: calc(100%);
                    height: calc(100%);
                    z-index: -1;
                    background: white;
                    transition: all 0.3s;
                }

                &:hover {
                    cursor: pointer;
                    cursor: hand;
                    background: transparent;
                    color: white;
                    
                    &:after {
                        background: transparent;
                    }
                }
            }
            
            .message {
                float: right;
                max-width: 175px;
                font-size: 15px;
                
                @include breakpoint(tablet) {
                    max-width: 75%;
                    width: 75%;
                    margin-top: 8px;
                }
                
                @include breakpoint(mobile) {
                    float: right;
                    max-width: 300px;
                    width: 300px;
                    text-align: center;
                    margin-top: 10px;
                }
                
                .red {
                    color: red;
                }
                .green {
                    color: green;
                }
            }
        }
    }
}

.menu-mobile {
    background: #474747;;
    position: fixed;
    display: none;
    z-index: 999999;
    width: 100%;
    bottom: 0;
    top: 0;
    
    .content {
        position: relative;
        display: table;
        height: 100%;
        margin: 0 auto;
        
        .menu-container {
            vertical-align: middle;
            display: table-cell;
            
            ul {
                list-style: none;
                padding: 0;
                
                li {
                    text-align: center;
                    padding: 14px 0;
                    float: none;
                    
                    @include breakpoint(tablet) {
                        padding: 15px 0;
                    }
                    
                    @include breakpoint(tablet) {
                        padding: 10px 0;
                    }
                    
                    a {
                        border-radius: 40px;
                        color: white !important;
                        display: inline-block;
                        height: 60px;
                        line-height: 60px;
                        font-size: 16px;
                        margin: 0 auto;
                        padding: 0;
                        transition: all .3s;
                        text-decoration: none;
                        border: 2px solid #62b0d8;
                        background-color: #474747;;
                        width: 260px;
                        
                        @include breakpoint(tablet) {
                            height: 50px;
                            line-height: 50px;
                            width: 210px;
                        } 
                        
                        @include breakpoint(mobile) {
                            height: 40px;
                            line-height: 40px;
                            width: 180px;
                            font-size: 14px;
                        } 
                        
                        &:hover {
                            transform: scale(0.90);
                        }
                    }
                }
            }
        }
    }
    
    .hide-menu {
        background: transparent url(../images/hide-menu.png) no-repeat right top;
        position: absolute;
        cursor: pointer;
        height: 25px;
        width: 25px;
        right: 10px;
        top: 28px;
        
        @include breakpoint(tablet) {
            top: 45px;
            right: 0px;
            left: 0px;
            margin: 0 auto;
            width: 665px;
        }
        
        @include breakpoint(mobile) {
            top: 20px;
            right: 0px;
            left: 0px;
            margin: 0 auto;
            width: 300px;
        }
    }
}