<h2 class="title">Nasza oferta</h2>
<div class="offer-list">
    {% for entity in entities %}
        <div class="item">
            <img src="{{ entity.getThumbWebPath('icon') }}" alt="{{ entity.title }}">
            <h3 class="item-title">{{ entity.title }}</h3>
            <div class="content">{{ entity.content|nl2br|raw }}</div>
        </div>
    {% endfor %}
    {% if cms_config.get('offer_help_text', '') is not empty %}
        <div class="item help">
            <img src="{{ asset('bundles/lscore/front/images/help-icon.png') }}" alt="">
            <div class="content">{{ cms_config.get('offer_help_text', '')|nl2br|raw }}</div>
        </div>
    {% endif %}
</div>

