{{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
<div class="form-group">
    {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
</div>
<div class="form-group">
    {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
</div>
<div class="form-group">
    {{ form_widget(form.content, {'attr': {'class': 'form-control' }}) }}
</div>

<div class="form-group submit">
    {{ form_widget(form.submit, {'attr': {'class': 'btn-default' }}) }}
    <div class="message"></div>
</div>
{{ form_end(form) }}
